@media(max-width:500px){

.container{
    width: 500px;
}

nav{
    display:flex;
    flex-direction: column;
    width: 100%
    margin: 10px;
}

nav a{
    border-bottom: 1px solid black;
    margin: 0;
    width: 100%;
    padding: 10px;
}

.topborder{
    border-top: 1px solid black;
}
}